<div
  class="card mb-4"
  [ngClass]="{ 'card-finished': todo.isFinished, 'card-inprogress': !todo.isFinished }"
  style="width: 22rem;"
>
  <div class="card-body text-center">
    <h5 class="card-title">{{ todo.title }}</h5>
    <h6 *ngIf="todo.isFinished" class="card-subtitle mb-3">
      Teljesített
    </h6>
    <h6 *ngIf="!todo.isFinished" class="card-subtitle mb-3">
      Folyamatban...
    </h6>
    <ul class="list-inline member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/detail', todo.id]">
          Részletek
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-warning" [routerLink]="['/edit', todo.id]">
          Módosít
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-danger">
          Törlés
        </button>
      </li>
    </ul>
    <!--<a href="#" class="card-link" (click)="goDetails()">Részletek</a>
    <a href="#" class="card-link" (click)="goDetails()">Módosítás</a>
    <a href="#" class="card-link card-remove-link" (click)="goDetails()">Törlés</a>-->
  </div>
</div>
